tickTime={{ tick_time }}
dataDir={{ data_dir }}
dataLogDir={{ data_log_dir }}
clientPort={{ client_port }}
initLimit={{ init_limit }}
syncLimit={{ sync_limit }}
maxClientCnxns={{ max_client_connections }}

{% for server in groups['zookeepers'] %}
server.{{ hostvars[server]['zoo_id'] }}={{ server }}:2888:3888
{% endfor %}
