# {{ansible_managed}}

[Unit]
Description=ZooKeeper

[Service]
EnvironmentFile=/etc/sysconfig/zookeeper
Type=forking
User=zookeeper
Group=zookeeper
ExecStart={{zookeeper_dir}}/bin/zkServer.sh start
Restart=on-failure

TimeoutSec=300

[Install]
WantedBy=multi-user.target
